[*.cs] # CSharp

# Indentation

indent_style = space
indent_size = 4

# Newlines

end_of_line = crlf
insert_final_newline = true

# Whitespace

trim_trailing_whitespace = true
csharp_new_line_before_open_brace = methods, properties, control_blocks, types
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

[*.xml, *.csproj, NuGet.Config] # XML

# Indentation

indent_style = space
indent_size = 2